# Virtual environments
venv/
env/
venv_tesi/
.venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# OS
.DS_Store

# cache
.cache/
hf_cache/
~/.cache/

# vscode
.vscode/
.vscode-server/

# output script
Grafico_outputs/
